<h1>Editing classification</h1>

<%= render partial: "form", locals: { classification: admin_classification_path(@classification) } %>

<%= link_to 'Show', admin_classifications_path(@classification) %> |
<%= link_to 'Back', admin_classifications_path %>
