<h1>Listing classifications</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @classifications.each do |classification| %>
      <tr>
        <td><%= classification.description %></td>
        <td><%= link_to 'Edit', edit_admin_classification_path(classification) %></td>
        <td><%= link_to 'Destroy', admin_classification_path(classification), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button  class="btn"><%= link_to 'New Classification', new_admin_classification_path %></button>
