<h1>Listing statusqcs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @statusqcs.each do |statusqc| %>
      <tr>
        <td><%= statusqc.description %></td>
        <td><%= link_to 'Edit', edit_admin_statusqc_path(statusqc) %></td>
        <td><%= link_to 'Destroy', admin_statusqc_path(statusqc)  , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button  class="btn"><%= link_to 'New Statusqc', new_admin_statusqc_path %></button>
