<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @statusqc.description %>
</p>

<%= link_to 'Edit', edit_statusqc_path(@statusqc) %> |
<%= link_to 'Back', statusqcs_path %>
