<div class="container-fluid">
  <h1>Listing statusincident</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @statusincident.each do |statusincident| %>
        <tr>
          <td><%= statusincident.description %></td>
          <td><%= link_to 'Edit', edit_admin_statusincident_path(statusincident) %></td>
          <td><%= link_to 'Destroy', admin_statusincident_path(statusincident)  , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <button  class="btn"><%= link_to 'New statusincident', new_admin_statusincident_path %></button>
</div>
