<div class="container-fluid">
  <h1>Listing Severities</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @severity.each do |severities| %>
        <tr>
          <td><%= severities.description %></td>
          <td><%= link_to 'Edit', edit_admin_severity_path(severities) %></td>
          <td><%= link_to 'Destroy', admin_severity_path(severities)  , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <button  class="btn"><%= link_to 'New severity', new_admin_severity_path %></button>
</div>

